.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .dialog-title {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .dialog-title mat-icon {
    margin-right: 4px;
  }
  
  .dialog-title span {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .close-button {
    margin-left: 8px;
  }

.mdc-dialog__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.mdc-dialog__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.mdc-dialog__content mat-form-field {
    width: 100%;
    margin-bottom: 8px;
}

.mdc-dialog__actions {
    display: flex;
    justify-content: flex-end;
}

.mdc-dialog__actions button {
    margin-left: 8px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .dialog-header {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .dialog-title {
      margin-bottom: 8px;
    }
    
    .mdc-dialog__actions {
      flex-direction: column;
    }
    
    .mdc-dialog__actions button {
      margin-top: 8px;
    }
  }